* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-family: Montserrat, sans-serif;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

}

.item{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  height: 300px;
  max-width: 250px;
  width: 20vw;
  min-width: 300px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: box-shadow 0.3s ease;
}

.item:hover{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
      cursor: pointer;
}

.item__image{
  width: 70%;
  padding: 10px;

}

.item__desc{
  text-align: center;
 color:black;
 display: flex;
 align-items: center;
 text-decoration: none;
 height: 28%;
 position: relative;
 background-color: #00909F;
 border-radius: 5px;
}

.item__wrapper{
  z-index: 10;
  color: white;
  margin: 10px 0px;
 border-radius: 5px;


}

.item__desc:after{
 border-radius: 0 0 5px 5px;
  
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: bottom left;
  transform: skewY(-4deg);
  z-index: 1;

}

.description__container{
  width: 100vw;
margin-bottom: 20px;
position: absolute;
bottom: 0;
}

.description{
  margin: auto;
  text-align: center;
  width: 800px;
  max-width: 100%;
  font-size: 12px;
}

@media(max-width: 900px ) {
  .container{
    flex-direction: column;
  }

  .item{
    margin:0;
    margin-bottom: 10px;
    height: 250px;
  }


}